body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  margin-top: 60px;
}

button {
  background: #00ff66;
  color: black;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.card {
  background: white;
  color: black;
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}